body {
  width: 960px;
  margin: 0 auto;
  background: #FFF;
}
body .main-wrapper .logo {
  display: inline-block;
  border: 1px solid red;
  margin: 10px;
}
body .main-wrapper nav {
  display: inline-block;
  border: 1px solid red;
  margin: 10px;
}