body {
  display: block;
  width: 960px;
  margin: auto;
  background-color: #660;
  ing: 5px 20px 10px 20px; }
  body .main-wrapper {
    display: contents;
    width: auto;
    white-space: nowrap; }
    body .main-wrapper header {
      height: 250px;
      margin: 5px;
      display: inline-block;
      width: 50%;
      white-space: normal; }
  body img {
    width: 400px;
    height: 450px; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea {
  background: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 2px; }
