body {
  width: 960px;
  margin: auto;
  background-color: #FFF;
  padding-left: 20px; }
  body .main-wrapper {
    width: 960px;
    background-size: 100% auto; }
    body .main-wrapper header {
      display: block;
      height: 250px;
      margin: 5px;
      white-space: nowrap; }
      body .main-wrapper header div {
        display: inline-block;
        width: 20%;
        white-space: normal; }
      body .main-wrapper header nav {
        display: inline-block;
        width: 80%;
        white-space: normal; }
  body img {
    width: 460px;
    height: 450px; }
