@media print {

    .tm-sidebar, #about, .heading, .blocks, #ideas, .img-fluid, #contact{
        display: none;
    }

    .tm-banner {
        height: 270px;
    }

    .tm-content-box {
        margin-bottom: -30px;
        margin-left: -360px;
    }

    .pad {
        padding: 30px 45px 0 45px;
    }

    h2.tm-section-title {
        color: blue;
    }

    .flex-2-col {
        flex-direction: column;
    }

    .flex-item {
        max-width: 2000px;
    }

    p {
        font-weight: 400;
    }

    .tm-footer {
        padding-top: 50px;
        margin-left: -360px;
    }
}

@media screen, speech {

    .box img {
        border-radius: 50%;
    }

    h2.tm-box-bg-title:hover {
        color: #ffffff;
        font-weight: 700;
        background-color: #52b3d4;
    }

    p::first-letter {
        font-size: 30px;
        color: #76cdd7;
    }

    .tm-content-box, .tm-sidebar {
        box-shadow: 0 0 20px 2px #929292;
        widows: 1;
    }

    #home:before, section:before {
        content: "";
        display: inline-block;
        height: 0;
        border-color: #52b3d4 transparent transparent transparent;
        border-style: solid;
        border-width: 20px 110px 0 0;
    }

    .tm-banner {
        padding-top: 0;
    }

    .carousel-inner > .carousel-item h2 {
        color: #dcdcdc;
        letter-spacing: 5px;
    }

    h2+p {
        font-style: italic;
    }

    p{
        line-height: 1.5em;
    }

     ol a:visited {
        color: #C0C0C0;
    }

     ol a:hover {
         color: #52b3d4;
         border-bottom: 1px double;
     }

     a.text:after {
         content: "New";
         color: red;
         vertical-align: super;
         font-size: x-small;
     }

     .heading h2 {
         text-align: center;
         color: #52b3d4;
     }

    .blocks li:nth-child(2n+1){
        background-color: #f2f2f2;
    }

    .blocks img, .blocks p, .blocks p::first-letter{
        border-radius: 0;
        color: #8b8690;
    }

    nav li:not(:last-child){
        border-bottom: 2px dotted;
        border-color: #C0C0C0;
    }

    input {
        color: #ff0000 !important;
    }

    div.mandatory-field:after {
        content: "*";
        color: red;
        vertical-align: top;
        font-size: 15px;
        font-weight: bold;
    }

    button[type="submit"] {
        color: #ff0000;
    }

    button[type="submit"]:hover {
        color: #ffffff;
        background-color: #52b3d4;
    }

}
