@media print {

    .tm-sidebar, #about, .heading, .blocks, #ideas, .img-fluid, #contact{
        display: none;
    }

    #home ,.pad{
        margin-left: -360px;
        padding-left: -30px;
        padding-bottom: -50px;
    }

    .tm-banner {
        height: 270px;
        padding: 30px;
    }

    h2.tm-section-title {
        color: blue;
        width: auto;
    }

    .flex-2-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tm-content-box {
        margin-bottom: -29px;
    }
    .pad {
        padding: -50px;
    }

    .tm-team-description-container {
        max-width: 1000px;
    }
    .flex-item {
        max-width: 1000px;
        align-items: center;
    }
    img {
        vertical-align: center;
    }
}
