@import "_variables1.scss";
//@import "_variables2.scss";

body {
  width: 960px;
  margin: 0 auto;
  background: $contentBackground;
  .main-wrapper {
    .logo {
      display: inline-block;
      border: 1px solid red;
      margin:10px;
    }
    nav {
      display: inline-block;
      border: 1px solid red;
      margin:10px;

    }

  }
}