$contentBackground: #FFF;
$mainColorUsed: #00bcd4;
$maximumWidth: 100%;
$backgroundAndLines: #efefef;
$fontsRobo: 'Roboto', sans-serif;
$cardColorTitle: #139ca7;
$cardColorText: #73999d;
$mainFontSize: 18px;