$contentBackground: #efefef;
$mainColorUsed: #ff3f18;
$maximumWidth: 100%;
$backgroundAndLines: #ffffff;
$fontsRobo: 'Roboto', sans-serif;
$cardColorTitle: #73999d;
$cardColorText: #73999d;
$mainFontSize: 18px;